body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chart {
    width: 100%;
}

.large {
    padding: 20px;
    box-sizing: border-box; /* Include padding in the width and height calculations */
}

.large iframe {
    width: 100%;
    height: calc(70vh - 40px); /* Subtract padding from height */
}

.chart-row {
    display: flex;
    width: 100%;
    height: 30vh;
}

.small {
    width: 50%;
    padding: 20px;
    box-sizing: border-box; /* Include padding in the width and height calculations */
}

.small iframe {
    width: 100%;
    height: calc(100% - 40px); /* Subtract padding from height */
}