body, html {
    margin: 0;
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chart {
    width: 100%;
}

.large iframe {
    width: 100%;
    height: 70vh;
}

.chart-row {
    display: flex;
    width: 100%;
    height: 30vh;
}

.small {
    width: 50%;
    height: 100%;
}

.small iframe {
    width: 100%;
    height: 100%;
}